---
import { AstroFont } from "astro-font";
import Particles from "astro-particles";
import { Image } from "astro:assets";
import type { ISourceOptions } from "tsparticles-engine";
import Card from "../components/card.astro";
import Section from "../components/section.astro";
const options: ISourceOptions = {
  background: {
    color: "#17212b",
  },
  fullScreen: {
    zIndex: -1,
    enable: true,
  },
  particles: {
    number: {
      value: 100,
    },
    size: {
      value: 1,
    },
    color: {
      value: "#ceced0",
    },
    move: {
      enable: true,
      speed: 2,
    },
  },
  smooth: true,
};

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const title = "Joshua Borseth";
const description = "Full Stack Engineer";
const image = "/josh.png";
---

<script>
  import { type Engine } from "tsparticles-engine";
  import { loadFull } from "tsparticles";

  // the function name is the parameter passed to the init attribute
  // required
  // add the function to window is mandatory, it will be searched there
  //@ts-ignore
  window.particlesInit = async function (engine: Engine) {
    await loadFull(engine);
  };
</script>

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
<AstroFont
  config={[
    {
      src: [],
      name: "Poppins",
      googleFontsURL: "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,700&display=swap",
      preload: true,
      display: "swap",
      selector: "body",
      fallback: "sans-serif",
    },
  ]}
/>
<main class="max-w-6xl mx-auto w-full px-4">
  <section class="w-full min-h-screen text-center flex flex-col text-white justify-center gap-6 items-center">
    <Image alt={title} src={image} width="200" height="200" class="rounded-full" />
    <h1 class="lg:text-8xl text-6xl font-semibold">{title}</h1>
    <h2 class="text-primary text-3xl">{description}</h2>
    <a class="text-lg underline p-4" href="https://github.com/joshborseth">Github</a>
  </section>
  <Section title="Work Experience">
    <Card description="Developed a platform for sending custom branded MasterCard's to customers for loyalty rewards." link="https://locorum.io/" title="Locorum">
      <Image slot="image" alt="Locorum" src="/locorum.webp" width="40" height="40" class="rounded-full" />
    </Card>
    <Card link="https://0footprint.net/" description="Developed web and mobile applications for clients in healthcare and education sectors." title="0footprint Tech Services">
      <Image slot="image" alt="0footprint Tech Services" src="/0footprint.png" width="40" height="40" class="rounded-full" />
    </Card>
  </Section>
  <Particles id="tsparticles" options={options} init="particlesInit" />
</main>
<style>
  body,
  html {
    @apply bg-background;
  }
</style>
